html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Source Code Pro", monospace;
}

h1,
h2,
h3 {
	font-family: "Source Code Pro", monospace;
}

h4 {
	font-family: "Source Code Pro", monospace;
	font-size: 28px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	letter-spacing: 0.055em;
}

.bg-primary-green {
	background-color: #789461;
}
/*---------------------------------------
  COVER              
-----------------------------------------*/
#cover .cover-content {
	z-index: 1000;
}

.btn-open {
	background-color: #294b29;
	color: #ffffff;
	font-family: "Source Code Pro", monospace;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.055em;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

.btn-open:hover {
	background-color: #ffffff;
	color: #294b29;
	font-family: "Source Code Pro", monospace;
	font-size: 24px;
	font-weight: 650;
	line-height: 24px;
	letter-spacing: 0.055em;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

/* BACKGROUND */
